 .myNav{
    background-color: green;

}
.myNav2 {
    background-color: whitesmoke;
}
.myBTN {
    background-color: whitesmoke;
}
.nav-link{
    font-size: 20px;
}
.hello{
    color: white;
    font-size: 28px;
    font-weight: bolder;
}
table{
    font-size: 1.8vw;
    text-align: center;
    color: azure;
}
li{
    font-size: 1vw;
}
p{
    color: azure;
}
h1{
    color: azure;
    font-weight: 800;
    font-size: 34px;
}
footer {
    background-color: green;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    min-height: 50px;
    border-top: 5px solid white;
    margin-top: 100px;
}

.asterisk{
font-size: 10px;
}


.playerList{
    font-size: 22px;
}
body{
    background-color: #222222;
}
@media screen and (max-width: 756px) {
    main {
        width: 100%;
        height: auto;
        float: none
    }
    /* .gyphyEmbed{
        height: 90px;
        width: 60px;
    } */

}

.card{
    background-color:#6666;
    overflow: auto;
}
.lineBreak{
    background-color: green;
    height: 2px;
}

.modal-title{
    color: blue;
    text-align: center;
}
.modal-content {
    background-color: grey;
 }
 .ticker{
     color: blue
 }

 a{
     color: white;

 }
 .myTable1{
     font-size: 20px;
 
 }
 .tableHead{
     font-size: 15px;
     padding: 10px 10px;
 }
.tableP{
    border: dotted;
    border-width: .5px;
}
.rules{
    color: white;
}
.explanation{
    text-align: center;
}
.ruleList{
    text-align: center
    ;
}