 .myNav{
    background-color: green;
    text-align: center;
}
.hello{
    color: white !important;
    font-size: 28px;
    font-weight: bolder;
}
table{
    font-size: 34px;
    text-align: center;
    color: 
}
footer {
    background-color: green;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    min-height: 50px;
    border-top: 5px solid white;
    margin-top: 100px;
}
body{
  
} 
.asterisk{
font-size: 20px;
}
.playerList{
    font-size: 22px;
}